<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDANCE</title>
    <link rel="stylesheet" href="/css/styleFormNewUser.css">
</head>
<body>
<div class="container">
    <h1 class="logo">Form User Course</h1>
    <form class="userForm" method="post">
        <div class="formGroup">
            <label for="idUserCourse">ID User Course:</label>
            <input type="number" id="idUserCourse" name="idUserCourse" required>
        </div>
        <div class="formGroup">
            <label for="idCourse">ID Course:</label>
            <input type="number" id="idCourse" name="idCourse" required>
        </div>
        <div class="formGroup">
            <label for="idUserData">ID User Data:</label>
            <input type="number" id="idUserData" name="idUserData" required>
        </div>
        <div class="formGroup">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>