<link rel="stylesheet" href="/css/styleForm.css" />
<div class="container1">
    <div class="formGroup-header">
        <a id="returnTable2" class="a-logo"><img src="/images/iconReturn.png"class="logo"></a>
        <h1>Form Course</h1>
    </div>
    <form class="courseForm">
        <div class="formGroup">
            <label for="idCourse">ID Course:</label>
            <input type="text" id="idCourse" name="idCourse" required>
        </div>
        <div class="formGroup">
            <label for="idProgram">ID Program:</label>
            <input type="number" id="idProgram" name="idProgram" required>
        </div>
        <div class="formGroup">
            <label for="numberCourse">ID User:</label>
            <input type="number" id="numberCourse" name="numberCourse" required>
        </div>
        <div class="formGroup-btn">
            <input type="submit" id="edit-btn-course" class="btnHidden" value="Guardar cambios"/>
            <input type="submit" id="save-btn" class="btnHidden" value="Guardar" />
            <input type="reset" id="clean-btn" class="btnHidden" value="Limpiar" />
        </div>
    </form>
</div>