<link rel="stylesheet" href="/css/styleForm.css"/>
<div class="container1">
    <h1 class="logo">Form Course</h1>
    <form class="courseForm">
        <div class="formGroup">
            <label for="idCourse">ID Course:</label>
            <input type="number" id="idCourse" name="idCourse" required>
        </div>
        <div class="formGroup">
            <label for="idProgram">ID Program:</label>
            <input type="number" id="idProgram" name="idProgram" required>
        </div>
        <div class="formGroup">
            <label for="numberCourse">ID User:</label>
            <input type="number" id="numberCourse" name="numberCourse" required>
        </div>
        <div class="formGroup">
            <input type="submit" id="btnAction" class="btnHidden" value="Guardar"/>
            <input type="reset" id="btnAction" class="btnHidden" value="Limpiar" />
            <button id="btnAction"><a href="/user_data/tables">Return</a></button>
        </div>
    </form>
</div>