<link rel="stylesheet" href="/css/styleForm.css" />
<div class="container1">
  <div class="formGroup-header">
  <a href="http://localhost:8083/user_data/tables" class="a-logo"><img src="/images/iconReturn.png" class="logo"></a>
  <h1>Form Attendance</h1>
  </div>
  <form id="attendanceForm">
    <div class="formGroup">
      <label for="idAttendance">ID Attendance:</label>
      <input type="number" id="idAttendance" name="idAttendance" required />
    </div>
    <div class="formGroup">
      <label for="idEventData">ID Event:</label>
      <input type="number" id="idEventData" name="idEventData" required />
    </div>
    <div class="formGroup">
      <label for="idUser">ID User:</label>
      <input type="number" id="idUser" name="idUser" required />
    </div>
    <div class="formGroup">
      <label for="attendanceTime">Attendance Time:</label>
      <input type="datetime-local" id="attendanceTime" name="attendanceTime" required/>
    </div>
    <div class="formGroup-btn">
      <input type="submit" id="save-btn" class="btnHidden" value="Guardar"/>
      <input type="reset" class="btnHidden" value="Limpiar"/>
    </div>
  </form>
</div>
