<!DOCTYPE HTML>
<html>
	<head>
		<title>Abouts</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="modalForm"></div>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/user_data/principal" class="logo">
									<span class="symbol"><img src="/images/logo.png" alt="" /></span><span class="title">RIAP</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/user_data/principal">Home</a></li>
							<li><a href="/user_data/about">Abouts</a></li>
							<li><a id="loginButton" href="/user_data/login">Login</a></li>
							<li><a id="buttonAttendance" class="hidden" href="/user_data/attendance">Attendance</a></li>
							<li><a id="buttonEvent" class="hidden" href="/user_data/event">Events</a></li>
							<li><a id="buttonLogout" class="hidden">cerrar sesion</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Abouts</h1>
							<div class="about-container">
								<div class="about-box">
								  <h2>Manuel Valbuena</h2>
								  <p>is passionate about music and frontend development. He is known for being very attentive, respectful and hardworking, standing out for maintaining good interpersonal relationships. His dedication to detail and his work ethic make him a valuable collaborator in any team. He is always looking to improve and learn, bringing creativity and efficiency to his projects.</p>
								</div>
								<div class="about-box">
								  <h2>Oscar Navarro</h2>
								  <p>is passionate about programming and movies. He enjoys spending his free time watching movies and has programming skills that allow him to be proactive and collaborative. He is known for his friendly personality and good communication skills, which makes him stand out in any team.</p>
								</div>
								<div class="about-box">
								  <h2>Johan Bastos</h2>
								  <p>is passionate about backend development, soccer and music. He is known for being friendly, respectful and hardworking, standing out as an excellent communicator. His ability to express ideas clearly and his dedication make him a valuable member of any team, always bringing efficiency and a positive attitude.</p>
								</div>
							  </div>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								
							</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/general/jquery.min.js"></script>
			<script src="/js/general/browser.min.js"></script>
			<script src="/js/general/breakpoints.min.js"></script>
			<script src="/js/general/main.js"></script>
			<script src="/js/general/modal.js"></script>
			<script src="/js/general/login.js"></script>

	</body>
</html>