<!DOCTYPE HTML>
<html>
	<head>
		<title>Attendances</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="modalForm"></div>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/user_data/user" class="logo">
									<span class="symbol"><img src="/images/logo.png" alt="" /></span><span class="title">RIAP</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a id="buttonHome" href="/user_data/principal">Home</a></li>
							<li><a id="buttonHomeUser" class="hidden" href="/user_data/user">Home User</a></li>
							<li><a id="buttonAbouts" href="/user_data/about">Abouts</a></li>
							<li><a id="loginButton" href="/user_data/login">Login</a></li>
							<li><a id="buttonAttendance" class="hidden" href="/user_data/attendance">Attendance</a></li>
							<li><a id="buttonEvent" class="hidden" href="/user_data/event">Events</a></li>
							<li><a id="buttonLogout" class="hidden">cerrar sesion</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Attendances</h1>
							<select id="courseDropdown"></select>
							<select id="dateDropdown" disabled></select>

							<table id="attendanceTable" border="1">
								<thead>
									<tr>
										<th>Student Name</th>
										<th>Objetive</th>
										<th>Attendance</th>
									</tr>
								</thead>
								<tbody>
									<!-- Asistencias se cargarán aquí -->
								</tbody>
							</table>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<p>Johan Solution</p>
								<p>info@johansolution.com</p>
							</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/general/jquery.min.js"></script>
			<script src="/js/general/browser.min.js"></script>
			<script src="/js/general/breakpoints.min.js"></script>
			<script src="/js/general/main.js"></script>
			<script src="/js/general/login.js"></script>
			<script src="/js/general/attendance.js"></script>
			<script src="/js/general/events.js"></script>

	</body>
</html>