<!DOCTYPE HTML>
<html>
	<head>
		<title>Abouts</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="modalForm"></div>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/user_data/principal" class="logo">
									<span class="symbol"><img src="/images/logo.png" alt="" /></span><span class="title">RIAP</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/user_data/principal">Home</a></li>
							<li><a href="/user_data/about">Abouts</a></li>
							<li><a href="/user_data/login">Login</a></li>
							<li><a href="/user_data/attendance">Attendances</a></li>
							<li><a href="/user_data/event">Events</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Event</h1>
                            <table class="table">
                                <thead id="headerTable"></thead>
                                <tbody id="data"></tbody>
                              </table>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
							</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/general/jquery.min.js"></script>
			<script src="/js/general/browser.min.js"></script>
			<script src="/js/general/breakpoints.min.js"></script>
			<script src="/js/general/main.js"></script>
            <script src="/js/general/events.js"></script>

	</body>
</html>