<!DOCTYPE HTML>
<html>
	<head>
		<title>Riap</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/user_data/user" class="logo">
									<span class="symbol"><img src="/images/logo.png" alt="" /></span><span class="title" >RIAP</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

								<div id="userDisplay"></div>
						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a id="buttonHome" href="/user_data/principal">Home</a></li>
							<li><a id="buttonHomeUser" class="hidden" href="/user_data/user">Home User</a></li>
							<li><a id="buttonAbouts" href="/user_data/about">Abouts</a></li>
							<li><a id="loginButton" href="/user_data/login">Login</a></li>
							<li><a id="buttonAttendance" class="hidden" href="/user_data/attendance">Attendances</a></li>
							<li><a id="buttonEvent" class="hidden" href="/user_data/event">Events</a></li>
							<li><a id="buttonLogout" class="hidden" >Log Out</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 id="welcomeMessage"></h1>
								<p>Here, you can manage your events easily and effectively. Create events for your assigned courses, track attendance,<br>and keep everything under control with just a few clicks. We're here to make your life easier! If you need help at any time,<br> don't hesitate to reach out to us.</p>
							</header>
							
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<p>Johan Solution</p>
								<p>info@johansolution.com</p>
								</section>
							</section>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/general/jquery.min.js"></script>
			<script src="/js/general/browser.min.js"></script>
			<script src="/js/general/breakpoints.min.js"></script>
			<script src="/js/general/main.js"></script>
			<script src="/js/general/login.js"></script>

	</body>
</html>