<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RIAP</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <!-- <a href=""><img src="" alt="logo"/></a> -->
      </div>
      <div class="nav-links">
      </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero">
      <div class="left-column">
        <h1>RIAP</h1>
        <p>
          Id duis minim non id. Cupidatat sint sit incididunt duis anim. Laborum adipisicing laboris laboris eiusmod cupidatat 
          pariatur cillum ad. Esse quis quis minim officia ex est. Velit occaecat mollit aute minim dolor aute quis. Ipsum ea 
          eiusmod nulla labore tempor eu tempor. Eiusmod officia non eu sint incididunt deserunt mollit consequat aliquip minim pariatur est
          pariatur cillum ad. Esse quis quis minim officia ex est. Velit occaecat mollit aute minim dolor aute quis. Ipsum ea
          eiusmod nulla labore tempor eu tempor. Eiusmod officia non eu sint incididunt deserunt mollit consequat aliquip minim pariatur est.
        </p>
        <button id="buttonLogin">Log In</button>
        <img src="/images/circle.svg" alt="circle" id="circle-1" />
      </div>
    
      <div class="right-column">
        <img src="/images/circle.svg" alt="circle" id="circle-2" />
      <div class="aboutUser">
        <h3>Manuel Valbuena</h3>
        <p>I'm Catherine - the recipe developer and food photographer behind Blue Sky Eating. Here you'll find plenty of delicious gluten free foodie inspiration. I hope you enjoy exploring!</p>
      </div>
      <div class="aboutUser">
        <h3>Oscar Navarro</h3>
        <p>I'm Catherine - the recipe developer and food photographer behind Blue Sky Eating. Here you'll find plenty of delicious gluten free foodie inspiration. I hope you enjoy exploring!</p>
      </div>
      <div class="aboutUser">
        <h3>Johan Bastos</h3>
        <p>I'm Catherine - the recipe developer and food photographer behind Blue Sky Eating. Here you'll find plenty of delicious gluten free foodie inspiration. I hope you enjoy exploring!</p>
      </div>
    </div>
    </div>
  </body>
</html>
