<link rel="stylesheet" href="/css/Login.css" />
<script src="/js/Login.js"></script>
<body>
<div class="login">
    <form class="login-form" method="post">
            <h1>Account Login</h1>
        <div class="element">
            <div class="imagen">
                <label for="document"><img src="/images/icon_user.png" alt=""></label>
            </div>
            <div class="data">
                <input type="text" id="document" name="document" required="true" placeholder="User">
            </div>
        </div>
        <div class="element">
            <div class="imagen">
                <label for="password"><img src="/images/icon_key.png" alt=""></label>
            </div>
            <div class="data">
                <input type="password" id="password" name="password" required="true" placeholder="Password">
                <span class="toggle-password">
                    <img id="togglePassword" class="togglePasswordImg" src="/images/icon_ojo_cerrado.png" alt="Show/Hide Password">
                </span>
            </div>
        </div>
        <div class="button-send">
            <input type="submit" id="button" name="button" value="Login">
        </div>
        <a class="forget-password">forgot password?</a>
    </form>
</div>
</body>