<link rel="stylesheet" href="/css/login.css">
<div class="login-container">
	<form id="loginForm" action="" class="form-login">
		<ul class="login-nav">
			<li class="login-nav__item active">
				<a href="#">Sign In</a>
			</li>
		</ul>
		<label for="login-input-user" class="login__label">
			Username
		</label>
		<input id="login-input-user" class="login__input" type="text" />
		<label for="login-input-password" class="login__label">
			Password
		</label>
		<input id="login-input-password" class="login__input" type="password" />
		<label for="login-sign-up" class="login__label--checkbox">
			<input id="login-sign-up" type="checkbox" class="login__input--checkbox" />
			Keep me Signed in
		</label>
		<button class="login__submit" disabled>Sign in</button>
	</form>
	<div class="finalForm">
		<div class="finalLeft">	<a href="/user_data/principal" class="returnHome">Salir</a></div>
		<div class="finalRight"><a href="#" class="login__forgot">Forgot Password?</a></div>
	</div>
</div>
<script src="/js/general/login.js"></script>
<script src="/js/general/modal.js"></script>