*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1 {
    margin: 10% auto;
    max-width: 450px;
    padding: 30px;
    background-color: #101012;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 0px 10px white;
}

.formGroup-header{
    margin: 0px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.logo{
    width: 35px;
    cursor: pointer;
}


.formGroup {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
select{
    color: white;
    background-color: #1f1f24;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #16700B;
}

button a{
    text-decoration: none;
    color: #ffffff;
}

.btnHidden {
    background-color: #00AF00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btnhiden:hover {
    background-color: #16700B;
}
